/**
 * "karier" page styles
 *
 * @author Viacheslav Lotsmanov
 */

html body main section.pit {
	display: block;
	min-width: @minWidth;
	max-width: @maxWidth;
	margin: 0 auto;

	blockquote {
		.sansSerifFont('Cuprum', 20px, 24px);
		border-top: 5px solid @plugColor;
		border-bottom: 5px solid @plugColor;
		text-align: center;
		.box-sizing(border-box);
		padding: 0 @mainMargin;
		padding-top: 80px - 18px;
		padding-bottom: 70px - 6px;
		margin: 0 @mainMargin;

		&.yellow { border-color: @yellowColor; }
		&.green { border-color: @greenColor; }
		&.blue { border-color: @blueColor; }
	}

	.video_block { // {{{1
		display: block;
		width: 100%;
		background: @plugColor;
		.relative;

		a.play {
			@s: 173px;
			.linkNoLine;
			display: block;
			.size(@s);
			.border-radius(@s/2);
			background: rgba(33, 36, 37, 0.72);
			.absolute(50%, auto, auto, 50%);
			margin-left: -(@s/2);
			margin-top: -(@s/2);
			.transit(~'background-color');

			&>span {
				display: block;
				.fontMetrics(0, 0);
				.size(0);
				overflow: hidden;
				border: 20px solid transparent;
				border-left-color: white;
				border-left-width: 35px;
				.absolute(50%, auto, auto, 50%);
				margin-left: -15px;
				margin-top: -20px;
			}

			&:hover {
				background: fade(@activeLinkColor, 72%);
			}
		}

		video {
			display: block;
			width: 100%;
		}
	} // .video_block }}}1

	.info_block {
		display: block;
		margin: 0 @mainMargin;
		.relative;

		figure {
			display: block;
			.relative;

			&>* { .size(100%, auto); }

			figcaption {
				display: block;
				.size(625px, auto);
				margin: 0 auto;
				text-align: center;
				padding-top: 31px - 17px;

				p+p { padding-top: 40px - 24px; }
			}
		}

		&.specific {
			&>* {
				.size(auto);
				margin: 0 auto;
				text-align: center;
			}

			figcaption {
				.size(625px, auto);
			}
		}
	}

	* + .info_block,
	* + h2,
	* + blockquote { margin-top: 108px; }

	h2 {
		.sansSerifFont('Cuprum', 26px);
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	ul.advantages {
		.fontMetrics(0, 0);
		display: block;
	}
} // section.pit
