/**
 * "kontakty" page styles
 *
 * @author Viacheslav Lotsmanov
 */

html body main section.contacts {
	display: block;
	min-width: @minWidth;
	max-width: @maxWidth;
	margin: 0 auto;

	.imap { // {{{1
		display: block;
		.size(100%, 450px);
		background: @plugColor;
	} // .imap }}}1
} // section.contacts
