/**
 * Main less module
 *
 * @author Viacheslav Lotsmanov
 */

// imports {{{1

// variables
@import "variables";

// libs
@import "libs/reset";
@import "libs/lesshat";
@import "libs/font_mixins";
@import "libs/position_mixins";
@import "libs/animated_icon_mixin";
@import "libs/pseudo_mixins";

// project mixins
@import "mixins";

// fonts
@import "fonts";

// sprites
@import "sprites/icons";

// mixins
// ...

// elements
@import "header";
@import "footer";

// pages
@import "pages/main";
@import "pages/kontakty";
@import "pages/karier";
@import "pages/produktsiya";

// imports }}}1

html, body {
	.size(100%);
}

:focus { outline: none; }
::-moz-focus-inner { border: 0; }

html body {
	overflow-y: scroll;

	background: @bgColor;
	color: @contentColor;

	font: @contentFont;
	.fontMetrics(0, 0);

	h1 { // {{{1
		display: block;
		.sansSerifFont('Cuprum', 50px);
		text-transform: uppercase;
		.box-sizing(border-box);
		min-width: @minWidth;
		padding: 0 @mainMargin;
		text-align: center;
		padding-top: 184px - 138px;
		padding-bottom: 68px;
	} // h1 }}}1

	.top-part {
		display: block;
		min-height: 100%;
		padding-top: @headerHeightMin;
		padding-bottom: @footerHeight;
		margin-bottom: -(@footerHeight);
		.box-sizing(border-box);

		&:after { .pseudoBlock; }
	} // .top-part

	main { // {{{1
		display: block;
		font: @contentFont;
		.box-sizing(border-box);
		min-width: @minWidth;
		z-index: 45;

		a { .linkNoLine; }
		a[href] { .simpleLink; }
	} // main }}}1
} // html body
